.about-div{
    color: white;
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 100px;
}

.text-box{
    text-align: center;
    width: 600px;
}

.about-video{
    border: 3px solid rgb(124, 58, 237);
    border-radius: 10px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-highlights{
    color: rgb(124, 58, 237);
}

.about-video:hover {
    transform: scale(1.05); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.3);
}