.stocks-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
    padding: 20px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.stock-box {
    background-color: #282c34;
    color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.stock-box h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.stock-box canvas {
    max-height: 80%; 
    max-width: 100%;
}

.content-container { 
    margin-left: 300px;
}

.remove-stock-button {
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.button-group {
    position: absolute; 
    top: 10%;
    right: 22px;
    display: flex;
    flex-direction: column; 
    gap: 30px; 
  }
  
  .news-button,
  .logout-button {
    display: flex;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: rgb(124, 58, 237);
    cursor: pointer;
    width: 100%; 
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .news-button:hover,
  .logout-button:hover {
    background-color: #a29bfe;
    transform: scale(1.05);
  }
  
