.bodyDiv {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 100%;
    width: 100%; 
  }
  
  .image-div,
  .second-div {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
  }
  
  img {
    max-width: 90%; 
    height: auto;
    border-radius: 10px; 
  }
  
  .second-div {
    text-align: center; 
  }
  