
button{
    border: none;
    background: none;
    display: flex;
}

#header1{
    border: 1px solid black;
  display: flex;
}

.btns{
    border: 1px solid black;
    display: flex;
    align-items: center;
}


