.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 85%;
  }
  
  .overlay-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(183, 82, 255); 
    backdrop-filter: blur(20px); 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
    width: 100vh;
    height: 80vh;
    text-align: center;
  }
  
  .close-overlay {
    position: relative;
    top: 10px;
    background: black;
    color: purple;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: auto;
  }
  
  .chart-container {
    width: 100%;
    height: 80%;
  }

  .add-stock-button{
    align-self: center;
    color: black;
  }
